<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base}">
  <head>
    <title>Honks</title>
  </head>
  <body>
    <div layout:fragment="content">
      <h1 class="fs-4 bg-info border-top border-start border-end border-primary rounded-top mb-0 p-2">See what people are saying.</h1>
      <form method="get" class="mb-3">
        <div class="input-group">
          <input type="hidden" name="filter" th:if="${model.getFilter()}" th:value="${model.getFilter()}">
          <input class="form-control text-center" name="search" id="search" placeholder="Search honks" aria-label="Search honks"
                 th:value="${model.getSearch()}" style="padding-left: 3.375rem; border-top-left-radius: 0;">
          <button class="btn btn-primary" type="submit" aria-label="Search" style="width: 2.625rem; border-top-right-radius: 0;"><i class="bi bi-search"></i></button>
        </div>
      </form>
      <div class="text-success mb-3" th:if="${flashMessage}" th:text="${flashMessage}"></div>
      <nav class="nav nav-pills nav-justified">
        <a th:class="${'nav-link rounded-0 rounded-top' + (model.getFilter() != 'followedUsers' ? ' active' : '')}"
           th:attrappend="aria-current=${model.getFilter() != 'followedUsers'} ? 'page'"
           th:href="@{/honks(, __(${#strings.isEmpty(model.getSearch())} ? '' : ('search=' + ${model.getSearch()}))__)}">All honks</a>
        <a th:class="${'nav-link rounded-0 rounded-top' + (model.getFilter() == 'followedUsers' ? ' active' : '')}"
           th:attrappend="aria-current=${model.getFilter() == 'followedUsers'} ? 'page'"
           th:href="@{/honks(filter='followedUsers', __(${#strings.isEmpty(model.getSearch())} ? '' : ('search=' + ${model.getSearch()}))__)}">People I follow</a>
      </nav>
      <div class="card bg-info border-primary rounded-0 rounded-bottom">
        <div class="card-body">
          <div class="card text-start mb-3" th:each="honk : ${model.getHonks().getContent()}">
            <div class="card-body">
              <h5 class="card-title">
                <a th:href="@{/member/{username}(username=${honk.getAuthor().getUsername()})}" class="text-decoration-none" th:text="${honk.getAuthor().getUsername()}"></a>
                <span class="text-muted">&bullet; <span th:text="${#dates.format(honk.getTimestamp(), 'dd MMM yyyy')}"></span></span>
              </h5>
              <p class="card-text" th:text="${honk.getContent()}"></p>
            </div>
          </div>
          <p class="card-text" th:if="${model.getHonks().isEmpty()}">No honks to show.</p>
          <nav aria-label="Page navigation" th:unless="${model.getPages().isEmpty()}">
            <ul class="pagination justify-content-center mb-0">
              <li th:each="pageNumber: ${model.getPages()}" th:class="${'page-item' + (pageNumber == model.getHonks().getNumber() + 1 ? ' active' : '')}">
                <a class="page-link"
                   th:unless="${pageNumber == null}"
                   th:text="${pageNumber}"
                   th:href="@{/honks(__(${#strings.isEmpty(model.getFilter())} ? '' : ('filter=' + ${model.getFilter()}))__,
                                     page=${pageNumber},
                                     __(${#strings.isEmpty(model.getSearch())} ? '' : ('search=' + ${model.getSearch()}))__)}"></a>
                <span class="page-link" th:if="${pageNumber == null}">&ctdot;</span>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </body>
</html>
