<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base}">
  <head>
    <title>Member</title>
  </head>
  <body>
    <div layout:fragment="content">
      <div class="bg-info border-top border-start border-end border-primary rounded-top p-2">
        <h1 class="fs-4 mb-0" th:text="${#authorization.expression('hasRole(''ROLE_MEMBER'')')
                                             && model.getMember().getUsername().equals(#authentication.getName())
                                             ? 'My honks'
                                             : 'Honks by @' + model.getMember().getUsername()}"></h1>
      </div>
      <form method="get" class="mb-3">
        <div class="input-group">
          <input class="form-control text-center" name="search" id="search" placeholder="Search honks" aria-label="Search honks"
                 th:value="${model.getSearch()}" style="padding-left: 3.375rem; border-top-left-radius: 0;">
          <button class="btn btn-primary" type="submit" aria-label="Search" style="width: 2.625rem; border-top-right-radius: 0;"><i class="bi bi-search"></i></button>
        </div>
      </form>
      <div class="card bg-info border-primary">
        <div class="card-body">
          <div class="card text-start mb-3" th:each="honk : ${model.getHonks().getContent()}">
            <div class="card-body">
              <h5 class="card-title">
                <span th:text="${'@' + model.getMember().getUsername()}"></span>
                <span class="text-muted">&bullet; <span th:text="${#dates.format(honk.getTimestamp(), 'dd MMM yyyy')}"></span></span>
              </h5>
              <p class="card-text" th:text="${honk.getContent()}"></p>
            </div>
          </div>
          <p class="card-text" th:if="${model.getHonks().isEmpty()}">No honks to show.</p>
          <nav aria-label="Page navigation" th:unless="${model.getPages().isEmpty()}">
            <ul class="pagination justify-content-center mb-0">
              <li th:each="pageNumber: ${model.getPages()}" th:class="${'page-item' + (pageNumber == model.getHonks().getNumber() + 1 ? ' active' : '')}">
                <a class="page-link"
                   th:unless="${pageNumber == null}"
                   th:text="${pageNumber}"
                   th:href="@{/member/{username}(username=${model.getMember().getUsername()},
                                                   page=${pageNumber},
                                                   __(${#strings.isEmpty(model.getSearch())} ? '' : ('search=' + ${model.getSearch()}))__)}"></a>
                <span class="page-link" th:if="${pageNumber == null}">&ctdot;</span>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </body>
</html>
